/*
conrols the Bones pagination item. This is something you're going to have to
work on for your site as the code, like the menu, is very dependent on how many
items are in the list
 */

.page-navigation {
	@include clearfix;
	margin: 0 auto;
}

.page-navi {
	list-style-type: none;
	padding-left: 0;
	text-align: center;
	min-width: 50px;
	max-width: 550px;
	margin: 0 auto;
	li {
		display: inline;
		float: left;
		@include trailer;
		width: 50px;
	}
	a {
		width: 100%;
		display: inline-block;
	}
}
