/*
Definitions of various modular typography scales. Unless you know what you
are doing, you should probably choose one of these. They are typeface
dependent so be sure that your base sizes are set accurately.
http://alistapart.com/article/more-meaningful-typography
http://blog.8thlight.com/billy-whited/2011/10/28/r-a-ela-tional-design.html
http://24ways.org/2011/composing-the-new-canon/
 */
$unison:         1;
$minor-second:   1.067;
$major-second:   1.125;
$minor-third:    1.2;
$major-third:    1.25;
$perfect-fourth: 1.333;
$aug-fourth:     1.414;
$perfect-fifth:  1.5;
$minor-sixth:    1.6;
$golden-section: 1.618;
$major-sixth:    1.667;
$minor-seventh:  1.778;
$major-seventh:  1.875;
$octave:         2;
$major-tenth:    2.5;
$major-eleventh: 2.667;
$major-twelfth:  3;
$double-octave:  4;
// and set it
$font-scale: $perfect-fourth;

/*
I have created this font-scale-multiple mixin to provide an easier way to
establish a vertical rhythm without all the calculations normally required.
All that's required to set it up is two optional variables, $scale-multiple
and $lines. $scale-multiple is how far up the scale defined in _definition.scss
you want to go with that text block. The second defines the line-height as
multiples of the base-line height. If you do not include a number here, Compass
will automatically determine a non-overlapping multiple. If you hate the idea
of using a standard typographic scale, just delete this code and you can use
all of Compass's vertical rhythm mixins which I've included.

You can chage the typographic scale in _definition.scss as I've included all
common ones. If the only thing you wish to do is change the typographic scale,
then this variable is the only thing you'll need to change. I've chosen perfect
fourth by default since it's harmonious and neutral. Braver souls may choose to
venture up the scale for great drama!

Vertical Rhythm module docs:
http://compass-style.org/reference/compass/typography/vertical_rhythm/

I hope someday Bourbon implements these tools because they are swag as eff.
 */
@mixin font-scale-multiple ($scale-multiple, $lines: 1) {
  @include adjust-font-size-to(
    modular-scale( $base-font-size, $scale-multiple, $font-scale),
    $lines
  );
}

// up your type game son
$base-font-size: 18px; // these must be in px for Compass
$base-line-height: $base-font-size * 1.5;
@include establish-baseline;

// Want to adjust leading, trailing, and padding of block elements? Use the
// included rhythm mixin from Compass. Just be aware that using this will reset
// your leader and trailer margins so you'll need to include those.
// http://compass-style.org/reference/compass/typography/vertical_rhythm/
h1 { @include font-scale-multiple(3, 2) }
h2 { @include font-scale-multiple(2)    }
h3 { @include font-scale-multiple(1)    }
h4 { @include font-scale-multiple(0)    }
h5 { @include font-scale-multiple(0)    }
h6 { @include font-scale-multiple(-1)   }

// you don't want straight black
body {
	color: #444;
	font-family: serif;
}
h1, h2, h3, h4, h5, h6 { color: #222; }
