/*
Layout controls a lot of small issues with site layout generally but does not
control grid or responsive things. That happens in the optional CSS sections.
Think vertical spacing issues mostly.
 */

// make sure all headers and footers in content area fall in typographic
// rhythm

header,
footer,
article,
.entry-content,
.sidebar,
.site-header-wrap,
.site-footer-wrap {
	@extend %clearfix;
}

.site-header-wrap,
.site-footer-wrap {
	@include leader;
	@include trailer;
}

.sidebar {
	li { list-style-type: none; }
	h1 { @include font-scale-multiple(1); }
	h2 { @include font-scale-multiple(2); }
}

.site-wrapper { padding: 0 2em; }

pre {
	width: 100%;
	overflow: scroll;
}
